.offer
	position relative
	height 525px
	background url('../images/offer.jpg') 0 0 no-repeat

	&__cloud
		position absolute
		top 160px
		padding 8px 36px
		right 217px
		width 510px
		height 180px
		line-height 49px
		letter-spacing 1px
		background-color rgba(148, 200, 61, .75)
		border-radius 10px

		&:before
			position absolute
			top 38px
			left -30px
			content ''
			border-top 20px solid transparent
			border-bottom 20px solid transparent
			border-right 30px solid rgba(148, 200, 61, .75)

	&__cloud-text
		font-family beausans-thi
		font-size 41px
		color #fff
		user-select text

	&__cloud-btn
		margin 11px auto 0
		width 295px
