.main
	position relative
	margin 0 auto
	padding-bottom 100px
	width 1200px

.wrapper
	position relative
	margin 0 auto
	width 765px
	clearfix()

.container
	padding 17px 37px 34px
	width 100%
	background-color $bg-green
	border-radius 6px
	clearfix()

	&_pt_22
		padding-top 22px

.content
	position relative
	padding 5px 0 45px
	width 100%
	background-color #fff
	border-radius 6px
	clearfix()

	&_mt_40
		margin-top 40px

	&_height

		&_600
			height 600px

		&_460
			height 460px

		&_430
			height 430px

		&_415
			height 415px

	&_width

		&_440
			width 440px

		&_240
			width 240px

.float-l
	float left

.float-r
	float right
