beausans-l = 'pf_beausans_pro_light', sans-serif
beausans-r = 'pf_beausans_pro_regular', sans-serif
beausans-th = 'pf_beausans_pro_thin', sans-serif
beausans-bi = 'pf_beausans_pro_bolditalic', sans-serif
beausans-thi = 'pf_beausans_pro_thinitalic', sans-serif

@font-face
	font-family 'pf_beausans_pro_light'
	src url('../../fonts/pfbeausanspro-light.eot')
	src: url('../../fonts/pfbeausanspro-light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/pfbeausanspro-light.woff2') format('woff2'),
		url('../../fonts/pfbeausanspro-light.woff') format('woff'),
		url('../../fonts/pfbeausanspro-light.ttf') format('truetype'),
		url('../../fonts/pfbeausanspro-light.svg#pf_beausans_prolight') format('svg');
	font-weight normal
	font-style normal

@font-face
	font-family 'pf_beausans_pro_regular'
	src url('../../fonts/pfbeausanspro-reg.eot')
	src: url('../../fonts/pfbeausanspro-reg.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/pfbeausanspro-reg.woff2') format('woff2'),
		url('../../fonts/pfbeausanspro-reg.woff') format('woff'),
		url('../../fonts/pfbeausanspro-reg.ttf') format('truetype'),
		url('../../fonts/pfbeausanspro-reg.svg#pf_beausans_proregular') format('svg');
	font-weight normal
	font-style normal

@font-face
	font-family 'pf_beausans_pro_thin'
	src url('../../fonts/pfbeausanspro-thin.eot')
	src: url('../../fonts/pfbeausanspro-thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/pfbeausanspro-thin.woff2') format('woff2'),
		url('../../fonts/pfbeausanspro-thin.woff') format('woff'),
		url('../../fonts/pfbeausanspro-thin.ttf') format('truetype'),
		url('../../fonts/pfbeausanspro-thin.svg#pf_beausans_prothin') format('svg');
	font-weight normal
	font-style normal

@font-face
	font-family 'pf_beausans_pro_bolditalic'
	src url('../../fonts/pfbeausanspro-bolditalic.eot')
	src: url('../../fonts/pfbeausanspro-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/pfbeausanspro-bolditalic.woff2') format('woff2'),
		url('../../fonts/pfbeausanspro-bolditalic.woff') format('woff'),
		url('../../fonts/pfbeausanspro-bolditalic.ttf') format('truetype'),
		url('../../fonts/pfbeausanspro-bolditalic.svg#pf_beausans_probold_italic') format('svg');
	font-weight normal
	font-style normal

@font-face
	font-family 'pf_beausans_pro_thinitalic'
	src url('../../fonts/pfbeausanspro-thinital.eot')
	src: url('../../fonts/pfbeausanspro-thinital.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/pfbeausanspro-thinital.woff2') format('woff2'),
		url('../../fonts/pfbeausanspro-thinital.woff') format('woff'),
		url('../../fonts/pfbeausanspro-thinital.ttf') format('truetype'),
		url('../../fonts/pfbeausanspro-thinital.svg#pf_beausans_prothin_italic') format('svg');
	font-weight normal
	font-style normal
