.aside

	.aside__banner
		img.aside__img(src="assets/images/content/aside-img1.jpg")
		.aside__title Лучшее предложение
		.aside__text.aside__text_color_blue Рекламный блок

	.aside__banner
		img.aside__img(src="assets/images/content/aside-img2.jpg")
		.aside__title.aside__title_banner2 Лучшее предложение
		.aside__text Рекламный блок
