.main-slider.swiper-container

	.main-slider__wrapper.swiper-wrapper

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 230
				br
				span радиостанций
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/radio.jpg")

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 68
				br
				span телеканалов
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/tv.jpg")

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 567
				br
				span предложений по
				br
				span наружной рекламе
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/billboard.jpg")

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 567
				br
				span предложений по
				br
				span наружной рекламе
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/books.jpg")

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 567
				br
				span предложений по
				br
				span наружной рекламе
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/car.jpg")

		.main-slider__item.swiper-slide

			.main-slider__text
				span &#8211; это
				= " "
				span.main-slider__text_weight_bold 567
				br
				span предложений по
				br
				span наружной рекламе
				br
				span.main-slider__text_color_green в
				= " "
				span.main-slider__text_color_green.main-slider__text_weight_bold 45
				= " "
				span.main-slider__text_color_green регионах
				br
				span.main-slider__text_color_green России

			img(src="assets/images/screen.jpg")

	.main-slider__prev
	.main-slider__next

	.main-slider__pag
