.header
	position absolute
	top 0
	left 218px
	padding 28px 0
	z-index 2
	height 125px

	&__logo
		position relative
		left -41px
		width 198px
		height 69px
		display block
		background-image url('../images/logo.png')

	&__login
		margin 12px 47px 24px 0
		float right

	&__login-reg
		margin-top 1px

