.chkb-text

	& + label
		position relative
		padding-right 15px
		display inline-block
		font-family beausans-th
		font-size 14px
		color #25aae1
		cursor pointer
		transition color .3s ease

		&:before
			position absolute
			right 0
			width 5px
			height 5px
			content ''
			border-right 1px solid #25aae1
			border-bottom 1px solid #25aae1
			transform rotate(45deg)
			transition all .3s ease

		&:hover
			color #1e8bba

			&:before
				border-color #1e8bba

	&:not(checked)
		position absolute
		opacity 0

		& + label

			&:before
				top 4px
				right 0

	&:checked

		& + label

			&:before
				top 7px
				transform rotate(-135deg)

	&_fs_12

		& + label
			font-size 12px

	&_color_gray

		& + label
			color #adadad

			&:before
				border-color #adadad

			&:hover
				color #878787

				&:before
					border-color #878787

	&_arrow_left

		&:not(checked) + label
			padding-right 0
			padding-left 15px

			&:before
				top 0
				left 0
				width 6px
				height 6px

		&:checked + label

			&:before
				top 4px

.chkb

	& + label
		position relative
		padding-left 20px
		display inline-block
		font-family beausans-l
		font-size 14px
		color #fff
		cursor pointer

		&:before
			position absolute
			top 0
			left 0
			width 12px
			height 12px
			content ''
			border 1px solid #fff
			border-radius 2px
			transition background-color .3s ease

		&:hover

			&:before
				background-color #fff

	&:not(checked)
		position absolute
		opacity 0

		& + label

			&:before
				background-color $bg-green

	&:checked

		& + label

			&:before
				background-color #fff
