.input
.textarea
	padding 0px 15px
	height 30px
	display inline-block
	font-family beausans-l
	color #8dc63f
	font-size 14px
	line-height 30px
	background-color #fff
	text-overflow ellipsis
	border none
	border-radius 7px
	transition color .3s ease

	&:focus
		color #73a133

	&_width

		&_100p
			width 100%

		&_90
			width 90px

.textarea
	padding 5px 15px
	line-height 18px

	&_height

		&_85
			height 85px

		&_135
			height 135px


