.offer-row
	height 119px
	font-family beausans-r
	border-bottom 1px solid #ababab

	&:last-child
		border none

	&_page_search

		td
			vertical-align top

			&:first-child
				padding-top 22px
				padding-bottom 19px

			.offer-row__title
				margin-left -43px
				padding-top 25px
				padding-left 0

			.offer-row__text
				padding-top 15px

			.offer-row__link
				padding-top 43px
				display inline-block

			.offer-row__price
				padding-top 40px

	&__img
		margin-bottom 8px
		width 115px
		height 70px
		display inline-block
		vertical-align middle
		border-radius 5px
		overflow hidden

	&__img-inner
		width 100%
		height 100%
		display block

	&__title
		padding 4px 10px 0 13px
		width 188px
		display inline-block
		font-size 16px
		letter-spacing .4px
		line-height 18px
		vertical-align middle

	&__text
		font-size 13px
		line-height 15px

	&__link
		font-size 13px

	&__price
		font-size 16px
