.title

	&__h1
		position relative
		padding 20px 38px
		padding-bottom 26px
		font-family beausans-l
		font-size 42px
		color $blue
		letter-spacing 1.3px
		user-select text

		&_pb_20
			padding-bottom @padding-bottom - 6

	&__h2
		padding 17px 0
		font-size 25px
		font-family beausans-l
		color #fff
		letter-spacing .6px
		user-select text

		&_pb_12
			padding-bottom 12px

