.card

	&__title
		padding 19px 0px
		font-family beausans-l
		font-size 26px
		color #000

	&-wrapper
		clearfix()

	&__img
		float left
		width 385px

		&-main
			position relative
			overflow hidden
			width 100%
			height 385px
			border-radius 7px

			img
				width 100%
				height 100%

		&-offer
			position absolute
			right 17px
			bottom 18px
			width 110px
			height 69px
			background url('../images/special-offer.png') 0 0 no-repeat

		&-slider
			margin-top 20px
			width 385px
			height 110px

		&-slide
			overflow hidden
			width 110px
			height 110px
			border-radius 6px
			cursor pointer

			img
				width 100%

		&-prev
		&-next
			position absolute
			z-index 1
			top 45px
			width 16px
			height 16px
			border-top 3px solid #fff
			border-right 3px solid #fff
			cursor pointer

		&-prev
			left 15px
			transform rotate(-135deg)

		&-next
			right 15px
			transform rotate(45deg)

	&__info
		margin-left 385px
		padding-left 25px
		width 380px

	&__item
		font-family beausans-l

		& + &
			margin-top 21px

		& *
			font-size 15px

		&-title
			margin-bottom 3px
			color #8ac53d

		&-text
			color #000

	&__social
		margin-top 15px
		display table
		font-size 0

	&__icon
		display inline-block
		cursor pointer

		& + &
			margin-left 10px

		&_type

			&_tw
				sprite($icon-twitter)

			&_fb
				sprite($icon-fb)

			&_mail
				sprite($icon-mail)

	&__discr
		padding-top 35px
		padding-right 126px
		clear both
		font-family beausans-l
		font-size 14px
		color #000

		&-title
			margin-bottom 17px
			color #8ac53d

		&-text
			line-height 17px

			& + &
				margin-top 33px

