.new-advert

	&__title
		margin-top 12px
		font-family beausans-l
		color #fff
		font-size 25px
		letter-spacing .7px
		user-select text

	&__prog
		margin-bottom 28px

		&-item
			display inline-block
			height 63px
			width 261px
			font-family beausans-l
			font-size 16px
			color $blue
			text-align center
			line-height 63px
			background url('../images/progress.png') 0 0 no-repeat

			&:nth-child(2)
			&:nth-child(3)
				margin-left -14px

			&_state_active
				color #fff
				background-image url('../images/progress-active.png')

	&__contact
		margin-top 22px
		font-family beausans-l
		font-size 14px

		&-item
			margin-bottom 23px

			&:last-child
				margin 0

		&-title
			width 215px
			display inline-block
			color #fff
			vertical-align top

		&-input
			width 472px
			display inline-block

		&-btn
			width 170px
			margin-top 23px
			margin-bottom 7px
			overflow hidden
			float right

		&-add-btn
			position absolute
			right 47px
			bottom 115px

			.button
				vertical-align top
