.new-advert

	&__title
		margin-top 12px
		font-family beausans-l
		color #fff
		font-size 25px
		letter-spacing .7px
		user-select text

		&_mb_25
			margin-bottom 25px

	&__prog
		margin-bottom 28px

		&-item
			display inline-block
			height 63px
			width 261px
			font-family beausans-l
			font-size 16px
			color $blue
			text-align center
			line-height 63px
			background url('../images/progress.png') 0 0 no-repeat

			&:nth-child(2)
			&:nth-child(3)
				margin-left -14px

			&_state_active
				color #fff
				background-image url('../images/progress-active.png')

	&__contact
	/.new-advert__obj
		margin-top 22px
		font-family beausans-l
		font-size 14px

		&-item
		/.new-advert__obj-item
			margin-bottom 23px

			&:last-child
				margin 0

		&-title
		/.new-advert__obj-title
			width 215px
			display inline-block
			color #fff
			vertical-align top

		&-input
		/.new-advert__obj-input
			width 470px
			display inline-block

		&-btn
			width 170px
			margin-top 23px
			margin-bottom 7px
			margin-right 2px
			overflow hidden
			float right

		&-add-btn
			position absolute
			right 47px
			bottom 115px

			.button
				vertical-align top

	&__new-btn
		overflow hidden

		.button
			width 280px
			float right

	&__templ

		&-select
		&-new
			width 280px

		&-select
			margin-bottom 20px

		&-create
			margin 35px 0px 15px
			overflow hidden

			.button
				width 280px
				float right

		&-header
			padding-bottom 6px
			border-bottom 1px solid $bg-green

		&-header-title
		&-header-discr
			display inline-block
			font-family beausans-l
			font-size 12px
			color #adadad

		&-header-title
			padding-left 23px
			padding-right 122px

		&-item
			width 100%
			height 62px
			font-family beausans-l
			font-size 16px
			color #000
			border-bottom 1px solid $bg-green

			&:last-child
				border none

		&-text
			display inline-block

		&-title
			width 200px
			padding-left 22px
			display inline-block
			line-height 61px

	&__obj

		&-check
			margin-bottom 21px

			&:last-child
				margin 0

		&-wrap
			position relative
			margin-left 217px
			font-size 0

		&-slide
			position relative
			width 133px
			height 133px
			display inline-block

			& + &
				margin-left 23px

		&-img
			border-radius 5px
			overflow hidden

		&-close
			position absolute
			top -3px
			right -7px
			width 5px
			height 5px
			cursor pointer

			&:before
			&:after
				position absolute
				top 0
				left 0
				width 8px
				height 1px
				content ''
				background-color #fff

			&:before
				transform rotate(45deg)

			&:after
				transform rotate(-45deg)

		&-right
		&-left
			position absolute
			top 58px
			width 18px
			height 18px
			border-top 1px solid #fff
			border-right 1px solid #fff
			cursor pointer

		&-right
			right 3px
			transform rotate(45deg)

		&-left
			display none
			left -27px
			transform rotate(-135deg)

		&-photo
			position absolute
			bottom 200px
			left 35px
			width 170px

		&-btn
			margin-top 27px
			margin-bottom 6px
			overflow hidden

			.button
				width 170px
				float right

