extends ../layouts/default

block head
	- var pageTitle ='Regions :: Cabinet';
	- var headerBanner = true;

block content
	.wrapper
		include ../blocks/menu
		h1.title__h1 Личный кабинет модератора
		.cabinet.container

			.cabinet__header
				.cabinet__header-name Василий Табуреткин
				a.cabinet__header-msg(href=jv0) 3 личных сообщения
				.cabinet__header-edit-btn
					button.button.button_width_100p(type="button") Редактировать профиль

			h2.title__h2 Текущая модерация

			.content.content_height_600.js-scroll-cont

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_color_blue",
						"на модерации",
					],
					editBtn: "many"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_color_orange",
						"нет модерации",
					],
					editBtn: "many"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					editBtn: "many"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_state_disabled",
						"в архиве",
						"disabled"
					],
					editBtn: "one"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_state_disabled",
						"в архиве",
						"disabled"
					],
					editBtn: "one"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_state_disabled",
						"в архиве",
						"disabled"
					],
					editBtn: "one"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg",
					statusBtn: [
						"button button_size_small button_br_5 button_width_100p button_state_disabled",
						"в архиве",
						"disabled"
					],
					editBtn: "one"
				})

			h2.title.title_h2 Новые объявления

			.content.content_height_460.js-scroll-cont

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})


