doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Regions-online
		style.
			.title {
				display: block;
				font-size: 30px;
				font-weight: bold;
				text-align: center;
				margin-top: 200px;
				font-family: 'OpenSans-Bold', Helvetica, sans-serif;
			}
			.main__navs {
				width: 350px;
				margin: 0 auto;
			}
			.main__navs-item {
				display: block;
				text-align: center;
				text-decoration: none;
				color: #204e8a;
				background: #e5e5e5;
				border: 1px solid #777;
				padding: 5px;
				margin-top: 5px;
				font-family: 'OpenSans-Regular', Helvetica, sans-serif;
			}
			.main__navs-item:hover {
				background: #bbb;
			}
	body.page
		h1.title
			| Regions
		.main__navs
			a.main__navs-item(href="ui-kit.html") UI-Kit
			a.main__navs-item(href="main.html") Main


