extends ../layouts/default

block head
	- var pageTitle ='Regions :: Main';
	- var headerBanner = false;

block content
	include ../blocks/main-slider
	include ../blocks/main-menu
	include ../blocks/offer
	include ../blocks/best-offers
