extends ../layouts/default

block head
	- pageTitle ='Regions :: Main';

block content
	include ../blocks/main-slider
	include ../blocks/menu
	include ../blocks/offer
	include ../blocks/best-offers
