extends ../layouts/default

block head
	- var pageTitle ='Regions :: New-advert';
	- var headerBanner = true;

block content
	.wrapper
		include ../blocks/menu
		h1.title__h1 Новое объявление

		.new-advert__prog
			.new-advert__prog-item.new-advert__prog-item_state_active.js-advert-prog
				| Информация об объекте

			.new-advert__prog-item.js-advert-prog
				| Контактные данные

			.new-advert__prog-item.js-advert-prog
				| Готово

		form.container(name="contacts")

			.new-advert__title Контактные данные

			.new-advert__contact

				.new-advert__contact-item

					.new-advert__contact-title Адрес

					.new-advert__contact-input
						input.input.input_width_100p(type="text" name="address")

				.new-advert__contact-item

					.new-advert__contact-title Веб сайт

					.new-advert__contact-input
						input.input.input_width_100p(type="text" name="site")

				.new-advert__contact-item

					.new-advert__contact-title Телефон

					.new-advert__contact-input
						input.input.input_width_100p(type="text" name="phone")

				.new-advert__contact-item

					.new-advert__contact-title Skype

					.new-advert__contact-input
						input.input.input_width_100p(type="text" name="skype")

				.new-advert__contact-item

					.new-advert__contact-title E-mail

					.new-advert__contact-input
						input.input.input_width_100p(type="text" name="mail")

			.new-advert__contact-btn
				button.button.button_width_100p(type="submit") Далее

			.new-advert__contact-back-btn
				button.button.button_width_100p(type="button") Назад
