extends ../layouts/default

block head
	- var pageTitle ='Regions :: New-advert';
	- var headerBanner = true;

block content
	.wrapper
		include ../blocks/menu
		h1.title__h1 Новое объявление

		.new-advert__prog
			.new-advert__prog-item.new-advert__prog-item_state_active.js-advert-prog
				| Информация об объекте

			.new-advert__prog-item.js-advert-prog
				| Контактные данные

			.new-advert__prog-item.js-advert-prog
				| Готово

		form.container(name="templ-select")

			.new-advert__title.new-advert__title_mb_25 Мои шаблоны

			.content.content_height_285.js-scroll-cont

				.new-advert__templ-header

					.new-advert__templ-header-title Название
					.new-advert__templ-header-discr Описание

				- for (var i = 1; i <= 15; i++)
					.new-advert__templ-item.js-templ-item
						.new-advert__templ-title= "Шаблон " + i

						.new-advert__templ-text
							| Просто шаблон какого-то объявления

			.new-advert__templ-create
				button.button.button_ta_left(type="button") Создать из шаблона

			.new-advert__new-btn
				button.button.button_ta_left(type="button") Создать новое объявление
