extends ../layouts/default

block head
	- var pageTitle ='Regions :: Seller';
	- var headerBanner = true;

block content
	.wrapper
		include ../blocks/menu
		h1.title__h1
			span ООО «Италко»
			span.cabinet__lock заблокирован

			.cabinet__data-reg
				span Зарегистрирован с
				= " "
				span 21.04.2015

		.cabinet.container

			.cabinet__header
				.cabinet__header-title Контактные данные

			.content.content_height_430.js-scroll-cont

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

				+contact({
					address: "г. Москва, ул. Ивана Сусанина",
					link: "http:/italko.ru",
					mail: "info@italko.ru",
					skype: "italko",
					tel: "8 952 630 42 18"
				})

			.content.content_mt_40.content_height_600.js-scroll-cont

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})

				+advert ({
					title: "Рекламный щит на «Рублевском шоссе»",
					date: "23.01.2015",
					description: "Текст маркетингового предложения короткого, но информативного",
					price: [1000],
					billboardImg: "assets/images/content/advert.jpg"
				})
