.header.wrapper

	.header__login

		.header__login-enter
			button.button-txt.button-txt_type_icon.button-txt_type_icon-enter(type="button") Войти

		.header__login-reg
			button.button-txt.button-txt_color_green.button-txt_type_icon.button-txt_type_icon-square(type="button") Регистрация

	a.header__logo(href=jv0)
